.letter {
    transition: color 0.25s;
    display: inline-block;
    text-shadow: 2px 2px 7px #0a0a0a;
}
.letter:hover {
    background: -webkit-linear-gradient(25deg, #2600fc 2.34%, #ff00ea 100.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
/* Bounce letter animation */
.bouncing {
    animation: rubberBand 800ms alternate ease-out;
}

@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }
    40% {
        transform: scaleX(1.12) scaleY(0.9);
    }
    55% {
        transform: scaleX(0.9) scaleY(1);
    }
    65% {
        transform: scaleX(1.09) scaleY(0.85);
    }
    75% {
        transform: scaleX(0.85) scaleY(1);
    }
    90% {
        transform: scaleX(1.15) scaleY(0.95);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
/* ---- END Bounce letter animation -----*/

/* ----- Profession animation ------*/
.item {
    position: absolute;
    animation: roll 9s ease-in-out 1s infinite backwards;
    background: -webkit-linear-gradient(25deg, #2600fc 2.34%, #ff00ea 100.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.item:nth-child(1) {
    animation-delay: 0s;
    opacity: 0;
}
.item:nth-child(2) {
    animation-delay: 3s;
    opacity: 0;
}
.item:nth-child(3) {
    animation-delay: 6s;
    opacity: 0;
}

@keyframes roll {
    0% {
        opacity: 0;
        transform: translate3d(0, -12%, 0);
    }
    8%,
    27% {
        opacity: 1;
        transform: translateZ(0);
    }
    35%,
    100% {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
}

/* ----------- END Profession animation--------------- */

/* background gradient circles */
.circles-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    mix-blend-mode:soft-light;
    z-index: -1;
}

.circles-container div span {
    overflow: visible !important;
}

.gradient-circle {
    position: absolute; 
    width: 100% !important; 
    height: 100% !important;
    -webkit-filter: blur(80px);
    filter: blur(85px);
}

.gradient-circle.one {
    top: -20% !important; 
    left: -20% !important; 
    opacity: 0.55;
}
.gradient-circle.two {
    bottom: 80% !important; 
    left: 290% !important;
    opacity: 0.55; 
}
/* end background gradient circles */

