/* PROJECT CARD */

.project-card {
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.3s;
}
.project-card:hover {
    box-shadow: 2px 2px 8px #751ff546;
}

.project-card button {
    background-color: #ffffff0d;
    color: #741ff5;
}

.project-card button:hover {
    background-color: #741ff5;
    color: white;
}
.right-arrow {
    transition: all 0.5s;
}

.project-card button:hover .right-arrow,a:hover .right-arrow {
    filter: brightness(0) invert(1);
}
/* END PROJECT CARD */

.bg-popup {
    background: rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 10px 8px 21px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 10px 8px 21px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 10px 8px 21px 0px rgba(0, 0, 0, 0.50);
}

    